.page1{
    background-color: #1B1D1F;
    min-height: 90vh;
    width: 80vw;
    position: absolute;
    top: 15vh;
    left: 19vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh;
}

.page1 h1{
    font-size: 2rem;
    font-weight: 700;
}
.page1 p{
    padding: 2vh 37vh;
    text-align: center;
    color: #6F757C;
    font-size: 1rem;
    font-weight: 500;
}

.filter{
    display: flex;
    gap: 5vh;
    flex-wrap: wrap;
}

/* BUTTONS */
.btn{
    background-color: black;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 1.5vh 2vh;
    border-radius: 10px;
    color: white;
    border: none;
}

.btn:active{
    background-color: #6F757C;
}

/* PRODUCTS SECTION */
.products-section{
    margin: 8vh 15vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}